* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('bg-image.jpg');

    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
button {
    display: inline-block;
    margin-right: 10px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.resume-form {
    display: flex;
    justify-content: space-between;
}

section {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}
input,select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea[placeholder="Enter your work experience here..."]{
    height: 100px;
}
.resume-preview {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.preview-content {
    font-size: 16px;
    color: #333;
}

#download-pdf {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    border:none;
    border-radius: 12px; 
    padding: 10px 20px; /* Adjust padding as needed */
    margin-right: 200px; /* Add a right margin */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */


}

#download-pdf:hover {
    background-color: #4681c0; /* Change color on hover */
    
    
}
textarea {
    resize: none;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;

    text-align: center;

}
